In [3]:
import pandas as pd

data = pd.read_csv('~/Downloads/VSRR_Provisional_Drug_Overdose_Death_Counts (1).csv')

data.shape

/var/folders/f1/dmgdbt5j5nb5ht5_vfxmr8gm0000gn/T/ipykernel_55826/3369254923.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('~/Downloads/VSRR_Provisional_Drug_Overdose_Death_Counts (1).csv')

(66381, 12)

In [11]:
data.groupby('Indicator').agg({'Data Value': 'first'})

                                                    Data Value
Indicator
Cocaine (T40.5)                                             11
Heroin (T40.1)                                              34
Methadone (T40.3)                                           10
Natural & semi-synthetic opioids (T40.2)                    48
Natural & semi-synthetic opioids, incl. methado...          54
Natural, semi-synthetic, & synthetic opioids, i...          64
Number of Deaths                                         4,133
Number of Drug Overdose Deaths                             126
Opioids (T40.0-T40.4,T40.6)                                 79
Percent with drugs specified                        88.0952381
Psychostimulants with abuse potential (T43.6)               26
Synthetic opioids, excl. methadone (T40.4)                  15